doctype html
html
  head
    title= title
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.js')
    link(rel='shortcut icon', href='/images/flag.png')
  body
    block content
